<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>
<body>
    <center>
        {% block content %}
        {% endblock content %}
    </center>
</body>
<style>
    table { border-collapse: collapse; }
    th { padding: 0 10px 20px 10px; text-align: left;}
    tr { border-bottom: 1px solid #72727243; }
    td { padding: 10px; }
    td.title input { width: 500px; }
    td.price input { width: 100px; }
    .title input, .price input, .seller_name input { border: none; }
    .photo { text-align: center; }
</style>
</html>